<div class="sidebar">
    <ul class="accordion">
      <li *ngFor="let item of sidebarItems">
        <div class="accordion-header" (click)="toggleAccordion(item)">
          {{ item.title }}
          <i class="arrow" [ngClass]="{'arrow-down': item.isOpen, 'arrow-right': !item.isOpen}"></i>
        </div>
        <ul class="submenu" *ngIf="item.isOpen">
          <li *ngFor="let subitem of item.subItems">
            <a [routerLink]="subitem.route">{{ subitem.title }}</a>
          </li>
        </ul>
      </li>
    </ul>
  </div>
  